/*common Shared Styles*/
body{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*text primary color*/
.text{
    color:hwb(39 0% 0%);
}
.but{
    border-radius: 5px;
    background-color: orange;
    border: 0px;
    color: white;
    padding: 10px 15px;
}
/*nav relative Css*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px
}
nav > h3{
    color:black;
    font-size: 50px;
    font-weight: 800px;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:474747;
}
/*header related style */
.header {
    background-color: rgb(236, 241, 225);
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic {
    width: 500px;
}
